@import './partical/variables';


@import './../../node_modules/bootstrap/scss/functions';

@import './../../node_modules/bootstrap/scss/variables';




$custom-spacers: (
  6:$spacer *6,
  7:$spacer *7,
  8:$spacer *8,
  9:$spacer *9,
  10:$spacer *10,
  11:$spacer *11,
  12:$spacer *12,
  13:$spacer *13,
  14:$spacer *14,
  15:$spacer *15
);


$spacers : map-merge($map1: $spacers, $map2: $custom-spacers );

@import './../../node_modules/bootstrap/scss/bootstrap.scss';
@import './../../node_modules/bootstrap/scss/maps';
@import './../../node_modules/bootstrap/scss/mixins';

@import'./components/courses';
@import './components/ourfounder';
@import './components/why_choose_us';
@import'./components/footer';
@import './components/start_learning';