

@import './../../node_modules/bootstrap/scss/functions';
@import './../../node_modules/bootstrap/scss/variables';




$custom-spacers: (

  6: $spacer * 4,
  7: $spacer *2.5,
  8:$spacer *2,
  10:$spacer *12,
  12:$spacer *16,
  11:$spacer *7,
  13:$spacer *5
);


$spacers : map-merge($map1: $custom-spacers, $map2:$spacers );

@import './../../node_modules/bootstrap/scss/bootstrap.scss';

